.history{
    padding: 0px 30px;
    margin-top: 40px;
}
.history-container{
    margin-top: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}
.clients{
    background-color: #fafafa;
    margin-top: 60px;
    padding: 30px;
    width: 100%;
}
.client-cards{
    margin-top: 30px;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    margin-bottom: 10px;
}
.testimonials-title{
    padding: 30px;
}
.testimonal-list{
    display: flex;
    gap: 30px;
}
.testimonal-slider{
    overflow: hidden;
    height: 300px;
}