.contact_all{
    padding: 0px 30px 45px;
    margin-top: 40px;
}
.inputs{
    margin-top: 30px;
}
.contact_form{
    width: 100%;
}
.contact_all input,textarea{
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #dfdfdf;;
    height: 45px;
    font-size: 13px;
    padding-left: 10px;
    margin-bottom: 15px;
}
.contact_all textarea{
    height: 90px;
    padding: 20px 0 0 10px;
    margin-bottom: 15px;
    width: 100%;
}

.contact_form .download{
    margin: 0;
    padding-left: 25px;
    padding-right: 25px;
}
.contact_information{
    width: 100%;
}
.contact_information ul{
    list-style: none;
    margin: 35px 0px 8px;
}
.contact_information li{
    padding: 0 0 23px;
    font-size: 14px;
    color: #787878;
}
.socialLinks{
    display: flex;
    gap: 30px;
    height: 30px;
}
.socialLinks li svg{
    width: 20px;
    height: 20px;
    font-size:10px;
    vertical-align: middle;
    transition: 0.3s;
}
.socialLinks li:nth-child(1) svg{
    width: 18px;
    height: 20px;
}
.socialLinks li:nth-child(1):hover svg{
    fill: #3b5998;
    width: 22px;
    height: 24px;
}
.socialLinks li:nth-child(4):hover svg{
    fill: #0072b1;
    width: 24px;
    height: 24px;

}
.socialLinks li:nth-child(3):hover svg{
    fill: #171515;
    width: 24px;
    height: 24px;
    
}
.socialLinks li:nth-child(2):hover svg{
    height: 24px;
    width: 24px;
    fill:  #d62976;
}
.contact_top{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
}
.inputs{
    display: flex;
    justify-content: space-between;
    width: 100%;
}