.testimonalCard{
    box-shadow: 0px 0px 20px 0px rgb(4 6 4 / 8%);
    padding: 15px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    width: 243px;
    height: auto;
}
.testimonalCard .testimonalCard_top{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom:1px solid #efefef;
}
.testimonalCard_top_left{
    width: 20%;
    border-radius: 50px;
}
.testimonalCard .testimonalCard_top_left img{
    width: 100%;
    border-radius: 50px;
}
.testimonalCard h5{
    font-size: 14px;
    font-weight: 500;
    line-height: 15px
}
.testimonalCard .testimonalCard_top_right p{
    font-size: 12px;
    color: #d0d0d0;
}
.testimonalCard_bottom p{
    color: #989898;
    font-size: 12.5px;
    line-height: 20px;
}
.testimonalCard_top{
    display: flex;
    align-items: center;
    gap: 14px;
}