.porfolioCard{
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 48px 0px rgb(4 6 4 / 8%);
    border-radius: 6px;
    transition: 1s;
    animation: transform .8s ease;
}
@keyframes transform{
    from{
        transform: translate(-100px) scale(30%);
        opacity: 0.5;
    }to{
        transform: translate(0px) scale(100%);
        opacity: 1;
    }
}


.portfolioCard_top{
    height: 70%;
}
.portfolioCard_top img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 6px 6px 0 0;
}
.portfolio_bottom{
    padding: 10px;
}
.portfolio_bottom h4{
    font-size: 16px;
    color: #000;
    font-weight: 500;
}
.portfolio_bottom p{
    font-size: 13px;
    color: #989898;
    line-height: 18px;
}
