

.App{
    background: url(/src/img/bg.png);
    width: 100%;
    height: auto;
}
.container-main{
    max-width: 1170px;
    margin: 0 auto;
    padding: 70px 0px;
    display: flex;
    justify-content: space-between;
}
.all{
    width: 72%;
}